<a href="https://colab.research.google.com/github/Maiven/Python/blob/master/example_seoul_covid_19_01_read_html_output.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 서울시에서 공개한 코로나19 발생동향 분석
* http://www.seoul.go.kr/coronaV/coronaStatus.do

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
url = "http://www.seoul.go.kr/coronaV/coronaStatus.do"
url

'http://www.seoul.go.kr/coronaV/coronaStatus.do'

In [ ]:
table = pd.read_html(url)
len(table)

6

In [ ]:
table[0].T

                0
소계           1284
해외접촉관련        300
관악구왕성교회관련      21
강남구역삼동모임       10
도봉구요양시설관련      43
리치웨이관련        119
부천시쿠팡관련        24
kb생명보험관련       13
수도권개척교회관련      37
양천구운동시설관련      43
금천구도정기회사 관련     6
이태원클럽관련       139
구로구콜센터관련       98
타 시·도확진자접촉자    37
기타            293
경로확인중         114

In [ ]:
df = table[4]
df.shape

(1298, 7)

In [ ]:
df.head()

     연번     환자    확진일   거주지 여행력         접촉력    조치사항
0  1298  12696  6.27.   송파구   -  강남구 역삼동 모임  서울대학병원
1  1297  12693  6.27.  영등포구   -        확인 중    서남병원
2  1296  12694  6.27.   관악구   -        확인 중  강남성심병원
3  1295  12690  6.27.   관악구   -     왕성교회 관련    서남병원
4  1294  12688  6.27.   관악구   -     왕성교회 관련    서남병원

In [ ]:
last_day = df.loc[0, "확진일"]
last_day = last_day.replace(".", "_")
last_day

'6_27_'

In [ ]:
file_name = f"seoul_covid_{last_day}.csv"
file_name

'seoul_covid_6_27_.csv'

In [ ]:
df.to_csv(file_name, index=False)

In [ ]:
pd.read_csv(file_name)

        연번     환자    확진일   거주지     여행력         접촉력         조치사항
0     1298  12696  6.27.   송파구       -  강남구 역삼동 모임       서울대학병원
1     1297  12693  6.27.  영등포구       -        확인 중         서남병원
2     1296  12694  6.27.   관악구       -        확인 중       강남성심병원
3     1295  12690  6.27.   관악구       -     왕성교회 관련         서남병원
4     1294  12688  6.27.   관악구       -     왕성교회 관련         서남병원
...    ...    ...    ...   ...     ...         ...          ...
1293     5      9  1.31.   성북구       -       #5 접촉    서울의료원(퇴원)
1294     4      7  1.30.   마포구  중국 우한시       해외 접촉    서울의료원(퇴원)
1295     3      6  1.30.   종로구       -       #3 접촉  서울대학교병원(퇴원)
1296     2      5  1.30.   중랑구  중국 우한시       해외 접촉    서울의료원(퇴원)
1297     1      2  1.24.   강서구  중국 우한시       해외 접촉  국립중앙의료원(퇴원)

[1298 rows x 7 columns]

In [ ]:
df = df.sort_values(["연번"], ascending=False)

In [ ]:
df.head()

     연번     환자    확진일   거주지 여행력         접촉력    조치사항
0  1298  12696  6.27.   송파구   -  강남구 역삼동 모임  서울대학병원
1  1297  12693  6.27.  영등포구   -        확인 중    서남병원
2  1296  12694  6.27.   관악구   -        확인 중  강남성심병원
3  1295  12690  6.27.   관악구   -     왕성교회 관련    서남병원
4  1294  12688  6.27.   관악구   -     왕성교회 관련    서남병원

In [ ]:
df.tail()

      연번 환자    확진일  거주지     여행력    접촉력         조치사항
1293   5  9  1.31.  성북구       -  #5 접촉    서울의료원(퇴원)
1294   4  7  1.30.  마포구  중국 우한시  해외 접촉    서울의료원(퇴원)
1295   3  6  1.30.  종로구       -  #3 접촉  서울대학교병원(퇴원)
1296   2  5  1.30.  중랑구  중국 우한시  해외 접촉    서울의료원(퇴원)
1297   1  2  1.24.  강서구  중국 우한시  해외 접촉  국립중앙의료원(퇴원)